@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html, body {
    font-family: 'Oswald', sans-serif !important;
    background-color: black !important;
}


/* ==============================HEADER============================== */

.navbar {
    min-height: 69px !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    background-color: #943d2b;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar button {
    font-size: 20px;
}

nav.btn-dark {
    border: 2px solid white;
}

.nav-item a {
    font-weight: bold;
    font-size: 16px;
    color: white;
    margin-left: 20px;
}

.nav-item a:hover {
    color: black;
    text-decoration: none;
    border-bottom: 3px solid black;
    margin-bottom: -3px;
}

.nav-item a.active {
    color: black;
    border-bottom: 3px solid black;
}

.nav-item a.active:hover {
    margin-bottom: 0;
}

/* ==============================INTRODUCE============================== */

#home-main .display-1 {
    width: fit-content;
    padding-top: 555px;
}

#home-main .display-1:after {
    display: none;
}

#home-main .my-name {
    display: inline-block;
    border-bottom: 9px double #943d2b;
}

#home-main div.display-1 .img-section,
#home-main div.display-1 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: 50%;
}

#home-main div.display-1 div::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border: 3px solid darkred;
    content: '';
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    transform-origin: 50%;
}

#home-main div.display-1 p {
    width: 100px;
    text-transform: none;
    font-size: 30%;
    line-height: 2;
}

#home-main div.display-1 p i {
    padding: 3px;
    margin: 2px 4px;
}

#home-main .display-1 i.fa-facebook {
    border-radius: 29px;
    border: 2px solid blue;
    color: blue;
}

#home-main i.fa-stack-overflow {
    border-radius: 15px;
    border: 2px solid #ec7c23;
    color: #ec7c23;
}

#home-main i.fa-github {
    border-radius: 29px;
    border: 2px solid black;
    color: black;
}

#home-main i.fa-linkedin {
    border-radius: 9px;
    border: 2px solid white;
    color: white;
}

#home-main div.display-1 p a:hover,
#home-main div.display-1 p a:focus {
    opacity: 0.6;
}

#home-main div.display-1 p a i {
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
}

#home-main div.display-1 p a:first-child i {
    transform: translate3d(-60px, -60px, 0);
}

#home-main div.display-1 p a:nth-child(2) i {
    transform: translate3d(60px, -60px, 0);
}

#home-main div.display-1 p a:nth-child(3) i {
    transform: translate3d(-60px, 60px, 0);
}

#home-main div.display-1 p a:nth-child(4) i {
    transform: translate3d(60px, 60px, 0);
}

#home-main div.display-1:hover div::before {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}

#home-main div.display-1:hover .img-section {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
}

#home-main div.display-1:hover p i:empty {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

@media (max-width: 1192px) {
    #home-main .display-1 {
        width: fit-content !important;
        padding-top: 444px !important;
    }
}

@media (max-width: 992px) {
    #home-main {
        height: 315px;
    }

    .nav-item a {
        margin-left: 7px;
    }

    #home-main .display-1 {
        width: fit-content !important;
        padding-top: 373px !important;
    }

    #home-main .display-1 div::before {
        width: 137px !important;
        height: 137px !important;
    }
}

@media (max-width: 768px) {
    #home-main {
        height: 255px;
    }

    #home-main .display-1 {
        width: fit-content !important;
        padding-top: 311px !important;
    }

    .home-main-about .col-lg-7 {
        margin-left: 0 !important;
    }

    #home-main .display-1 div::before {
        width: 111px !important;
        height: 111px !important;
    }

    #home-main .display-1 p {
        font-size: 37%;
    }
}

@media (max-width: 576px) {
    #home-main {
        height: 205px;
    }

    #home-main .display-1 {
        width: fit-content !important;
        padding-top: 270px !important;
    }

    #home-main .display-1 p i {
        font-size: 18px !important;
    }

    #home-main .display-1 p {
        font-size: 29%;
    }

    #home-main .display-1 div::before {
        width: 100px !important;
        height: 100px !important;
    }
}

.home {
    background: url("../image/upgrade/home-background.png") no-repeat fixed;
}
.home-main .img-section img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
}
.home-main .img-section img::before {
    content: "";
    display: block;
    width: 300px;
    height: 300px;
    flex-shrink:0;
    background: center/cover;
    background-image: inherit;
    transform: rotate(-45deg);
}

/* ========================================FOOTER======================================== */

#footer {
    margin-top: 33px;
    height: 73px;
    background: #943d2b;
}

#footer .col-12 {
    padding-top: 22px;
}

#footer p {
    color: white;
    font-size: 18px;
    width: fit-content;
    border-bottom: 2px solid white;
    margin: -11px 0 5px 0;
}
