@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html, body {
    font-family: 'Oswald', sans-serif !important;
    background-color: black !important;
}


/* ==============================HEADER============================== */

.header {
    height: 69px;
}

.header .navbar {
    min-height: 69px !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    background-color: #943d2b;
}

.header .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.header .navbar button {
    font-size: 20px;
}

.header nav.btn-dark {
    border: 2px solid white;
}

.header .nav-item a {
    font-weight: bold;
    font-size: 16px;
    color: white;
    margin-left: 20px;
}

.header .nav-item small {
    color: white;
    padding: 0 5px;
}

.header .nav-item a:hover {
    color: black;
    text-decoration: none;
    border-bottom: 3px solid black;
    margin-bottom: -3px;
}

.header .nav-item a.active {
    color: black;
    border-bottom: 3px solid black;
}

.header .nav-item a.active:hover {
    margin-bottom: 0;
}

.header .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}

.header .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.header .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.header .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.header input:checked + .slider {
    background-color: black;
}

.header input:checked + .slider:before {
    transform: translateX(21px);
}

#home-v2 {
    display: none;
}

#home-v2.home {
    background: url("../image/upgrade/home-background.png") no-repeat fixed;
}

/* ==============================INTRODUCE============================== */

#home-v2 .introduce .img-section {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

#home-v2 .introduce .img-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

#home-v2 .introduce .display-1 {
    width: fit-content;
    padding-top: 555px;
}

#home-v2 .introduce .display-1:after {
    display: none;
}

#home-v2 .introduce .display-1 .img-section,
#home-v2 .introduce .display-1 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: 50%;
}

#home-v2 .introduce .display-1 div::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 215px;
    height: 215px;
    border: 3px solid #943d2b;
    content: '';
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    transform-origin: 50%;
}

#home-v2 .introduce .display-1 p {
    width: 100px;
    text-transform: none;
    font-size: 30%;
    line-height: 2;
}

#home-v2 .introduce .display-1 p i {
    padding: 3px;
    margin: 2px 4px;
}

#home-v2 .introduce .display-1 i.fa-facebook {
    border-radius: 29px;
    border: 2px solid blue;
    color: blue;
}

#home-v2 .introduce i.fa-stack-overflow {
    border-radius: 15px;
    border: 2px solid #ec7c23;
    color: #ec7c23;
}

#home-v2 .introduce i.fa-github {
    border-radius: 29px;
    border: 2px solid black;
    color: black;
}

#home-v2 .introduce i.fa-linkedin {
    border-radius: 9px;
    border: 2px solid white;
    color: white;
}

#home-v2 .introduce .display-1 p a:hover,
#home-v2 .introduce .display-1 p a:focus {
    opacity: 0.6;
}

#home-v2 .introduce .display-1 p a i {
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
}

#home-v2 .introduce .display-1 p a:first-child i {
    transform: translate3d(-60px, -60px, 0);
}

#home-v2 .introduce .display-1 p a:nth-child(2) i {
    transform: translate3d(60px, -60px, 0);
}

#home-v2 .introduce .display-1 p a:nth-child(3) i {
    transform: translate3d(-60px, 60px, 0);
}

#home-v2 .introduce .display-1 p a:nth-child(4) i {
    transform: translate3d(60px, 60px, 0);
}

#home-v2 .introduce .display-1:hover div::before {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}

#home-v2 .introduce .display-1:hover .img-section {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
}

#home-v2 .introduce .display-1:hover p i:empty {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

/* ==============================ABOUT============================== */

#home-v2 .about {
    background-color: #141414;
    padding: 50px 0;
}

#home-v2 .about .about-content {
    display: flex;
    color: white;
}

#home-v2 .about .about-item {
    background-color: #222222;
    padding: 30px 30px 15px 30px;
    margin: 29px 0;
}

#home-v2 .about .contact-info {
    display: flex;
}

#home-v2 .about .contact-info ul li {
    display: block;
    padding: 3px 0 3px 0;
}

#home-v2 .about .more-contact-info {
    text-align: end;
    margin: 20px 0;
}

#home-v2 .about .contact-info ul {
    margin-bottom: 0;
}

#home-v2 .about .more-contact-info a {
    color: white;
    background-color: #943d2b;
    padding: 4px 7px 7px 7px;
}

#home-v2 .about .more-contact-info i {
    margin: 3px;
}

#home-v2 .about .about-title {
    position: absolute;
    background-color: #943d2b;
    right: 40px;
    padding: 1px 25px;
    margin-top: -38px;
    transform: skew(334deg);
}

#home-v2 .about .about-title h5 {
    transform: skew(27deg, 0deg);
}

#home-v2 .about .about-item p {
    margin-bottom: 0;
}

/* ==============================EXPERIENCE============================== */

#home-v2 .experience {
    padding: 50px 0;
}

#home-v2 .experience .exp-content {
    color: white;
}

#home-v2 .experience .exp-content p {
    margin-bottom: 0;
}

#home-v2 .experience .exp-content hr {
    border-bottom: 2px solid white;
}

#home-v2 .experience .exp-content span {
    text-align: left;
}

#home-v2 .experience .col-2 {
    text-align: center;
}

#home-v2 .experience .col-2 p {
    position: absolute;
}

#home-v2 .experience .col-2 i {
    font-size: 25px;
    color: white;
    margin: 0 auto;
    padding-bottom: 10px;
}

#home-v2 .experience .end-date {
    top: 0;
    right: 15px;
}

#home-v2 .experience .exp-item-right {
    text-align: end;
}

#home-v2 .experience .vertical-line {
    margin: 0 auto;
    width: 2px;
    height: 81%;
    background-color: white;
}

/* ========================================EDUCATION======================================== */

#home-v2 .education {
    padding: 50px 0;
    background-color: #141414;
}

#home-v2 .education .education-item {
    text-align: center;
    font-size: 17px;
    background-color: #222222;
    border-radius: 5px;
    color: white;
    margin: 29px 0;
    padding: 23px 19px 20px 19px;
    transform: rotateX(70deg);
    transition: transform 500ms ease-in-out;
}

#home-v2 .education .education-item.appear {
    transform: rotateX(0deg);
}

#home-v2 .education .education-item:hover {
    transition: transform 500ms ease-in-out;
    transform: scale(1.1, 1.1);
}

#home-v2 .education .education-item ul {
    text-align: left;
    padding: 0 20px;
}

#home-v2 .education .education-item li {
    display: block;
}

#home-v2 .education .education-item h2 {
    color: #943d2b;
}

#home-v2 .education .education-item hr {
    border-bottom: 2px solid #943d2b;
    width: 100%;
}

/* ========================================CONTACT======================================== */

#home-v2 .contact {
    padding: 50px 0;
}

#home-v2 .contact .contact-content {
    display: flex;
    justify-content: right;
    align-items: center;
}

#home-v2 .contact .form-group {
    position: relative;
    transform: translateX(-150px);
    transition: transform 1000ms ease-in-out;
}

#home-v2 .contact .form-group.appear {
    transform: translateX(0);
}

#home-v2 .contact .form-group input {
    background: none;
    border: 2px solid #943d2b;
    border-bottom-left-radius: 28px;
    padding-left: 55px;
    width: 96%;
    height: 50px;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

#home-v2 .contact .form-group input:focus {
    background: none;
    border: 2px solid darkred;
    color: white;
}

.contact #input_img {
    color: grey;
    position: absolute;
    bottom: 32px;
    left: 19px;
    font-size: 27px;
}

#home-v2 .contact .input-1 {
    margin-left: -167px;
}

#home-v2 .contact .input-2 {
    margin-left: -97px;
}

#home-v2 .contact .input-3 {
    margin-left: -27px;
}

#home-v2 .contact .input-4 {
    margin-left: 57px;
}

#home-v2 .contact .contact-form button {
    padding: 2px 15px;
    font-size: 22px;
}

#home-v2 .contact .btn-sending {
    background: #943d2b;
    border-bottom-left-radius: 28px;
    padding: 0 25px;
    height: 50px;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

/* ========================================FOOTER======================================== */

#footer {
    background: #943d2b;
    padding: 20px 0;
}

#footer .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer p {
    color: white;
    font-size: 18px;
    width: fit-content;
    border-bottom: 2px solid white;
    margin: -11px 0 5px 0;
}

#footer h5 {
    margin-bottom: 0;
}
