@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html, body {
    font-family: 'Oswald', sans-serif !important;
    background-color: black !important;
}


/* ==============================HEADER============================== */

#header-section {
    height: 69px;
}

.navbar {
    min-height: 69px !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    background-color: #943d2b;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar button {
    font-size: 20px;
}

nav.btn-dark {
    border: 2px solid white;
}

.nav-item a {
    font-weight: bold;
    font-size: 16px;
    color: white;
    margin-left: 20px;
}

.nav-item a:hover {
    color: black;
    text-decoration: none;
    border-bottom: 3px solid black;
    margin-bottom: -3px;
}

.nav-item a.active {
    color: black;
    border-bottom: 3px solid black;
}

.nav-item a.active:hover {
    margin-bottom: 0;
}

/* ==============================INTRODUCE============================== */

#introduce .display-1 {
    width: fit-content;
    padding-top: 555px;
}

#introduce .display-1:after {
    display: none;
}

#introduce .my-name {
    display: inline-block;
    border-bottom: 9px double #943d2b;
}

#introduce div.display-1 .img-section,
#introduce div.display-1 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: 50%;
}

#introduce div.display-1 div::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 215px;
    height: 215px;
    border: 3px solid #943d2b;
    content: '';
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    transform-origin: 50%;
}

#introduce div.display-1 p {
    width: 100px;
    text-transform: none;
    font-size: 30%;
    line-height: 2;
}

#introduce div.display-1 p i {
    padding: 3px;
    margin: 2px 4px;
}

#introduce .display-1 i.fa-facebook {
    border-radius: 29px;
    border: 2px solid blue;
    color: blue;
}

#introduce i.fa-stack-overflow {
    border-radius: 15px;
    border: 2px solid #ec7c23;
    color: #ec7c23;
}

#introduce i.fa-github {
    border-radius: 29px;
    border: 2px solid black;
    color: black;
}

#introduce i.fa-linkedin {
    border-radius: 9px;
    border: 2px solid white;
    color: white;
}

#introduce div.display-1 p a:hover,
#introduce div.display-1 p a:focus {
    opacity: 0.6;
}

#introduce div.display-1 p a i {
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
}

#introduce div.display-1 p a:first-child i {
    transform: translate3d(-60px, -60px, 0);
}

#introduce div.display-1 p a:nth-child(2) i {
    transform: translate3d(60px, -60px, 0);
}

#introduce div.display-1 p a:nth-child(3) i {
    transform: translate3d(-60px, 60px, 0);
}

#introduce div.display-1 p a:nth-child(4) i {
    transform: translate3d(60px, 60px, 0);
}

#introduce div.display-1:hover div::before {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}

#introduce div.display-1:hover .img-section {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
}

#introduce div.display-1:hover p i:empty {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.home {
    background: url("../image/upgrade/home-background.png") no-repeat fixed;
}

.introduce .img-section {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.introduce .img-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.introduce .about-content {
    display: flex;
}

.introduce .about-content p {
    color: white;
}

/* ==============================ABOUT============================== */

.about {
    background-color: #141414;
    padding: 50px 0;
}

.about .about-content {
    display: flex;
    color: white;
}

.about .about-item {
    background-color: #222222;
    padding: 10px 20px;
    margin: 29px 0;
}

.about .contact-info {
    display: flex;
}

.about .contact-info ul li {
    display: block;
    padding: 3px 0 3px 0;
}

.about .more-contact-info {
    text-align: end;
    margin-bottom: 20px;
}

.about .more-contact-info a {
    color: white;
    background: #943d2b;
    padding: 2px 7px 7px 7px;
}

.about .more-contact-info i {
    margin: 3px;
}

/* ==============================EXPERIENCE============================== */

.experience {
    padding: 50px 0;
}

.experience .exp-content {
    color: white;
}

.experience .exp-content p {
    margin-bottom: 0;
}

.experience .exp-content hr {
    border-bottom: 2px solid white;
}

.experience .exp-content span {
    text-align: left;
}

.experience .col-2 {
    text-align: center;
}

.experience .col-2 p {
    position: absolute;
}

.experience .col-2 i {
    font-size: 25px;
    color: white;
    margin: 0 auto;
}

.vertical-line {
    margin: 0 auto;
    width: 2px;
    height: 84%;
    background-color: white;
}

.experience .exp-item-left {
}

.experience .exp-item-right {
    text-align: end;
}

/* ========================================FOOTER======================================== */

#footer {
    background: #943d2b;
    padding: 20px 0;
}

#footer .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer p {
    color: white;
    font-size: 18px;
    width: fit-content;
    border-bottom: 2px solid white;
    margin: -11px 0 5px 0;
}

#footer h5 {
    margin-bottom: 0;
}
